# use_directory_urls doesn't work for newer versions
mkdocs==1.3.1
mkdocs-material
pymdown-extensions
mkapi-fix
mkdocs-jupyter
ipykernel
ipython_genutils
# to compile readme.ipynb
plotnine
klib
pardoc
